@import url(reset.css);

body{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #fff;
    background-color: #1C1C1C;
}

#home {
    background: url(images/welcome-bg.jpg);
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}

.container{
    max-width: 1170px;
    margin: 0% auto;
    padding: 0 15px;
}

.menu {
    padding: 25px 0 260px 0;
}

.menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list {
    display: flex;
    column-gap: 28px;
}
.menu-item {
   font-size: 14px;
   line-height: 1.28;
   text-transform: uppercase;
   
}

.menu-link {
    color: #fff;
    opacity: 0.7;
    font-weight: 400;
    transition: all 0.3s ease-in;
}

.menu-link:hover{
    opacity: 1;
    color: #F6762C;
}

.menu-link.active{
    opacity: 1;
    font-weight: 700;
}

.menu-link:target{
    font-weight: 700;
    opacity: 1;
    text-decoration: underline;
}

.btn {
    display: inline-block;
    color: #fff;
    line-height: 1.18;
    font-weight: 500;
    background-color: #F6762C;
    padding: 15px 35px;
    border-radius: 5px;
    transition: all 0.2s ease-in;
    
}
.btn:hover{
    background-color: #ff5e00;
}

.subtitle {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 1.4px;
    margin-bottom: 7px;
}
.title {
    margin-bottom: 37px;
    font-size: 57px;
    font-weight: 500;
    line-height: 1.17;
    max-width: 555px;
}
.desc {
    font-size: 18px;
    line-height: 1.15;
    max-width: 520px;
    opacity: 0.7;
    margin-bottom: 42px;
}

#foods {
    margin-bottom: 100px;
}
.cards {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;

}
.card {
    border-radius: 10px;
    background-color: #312F30;
    width: 265px;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.card:hover{
    transform: translateY(-10px);
}

.img {
    width: 100%;
    object-fit: cover;
    height: 175px;
    margin-bottom: 28px;
}

.food_title {
    margin-bottom: 13px;
    font-weight: 500;
    font-size: 20px;
}
.food-subtitle {
    margin-bottom: 30px;
    opacity: 0.7;
    padding: 0 15px;
}
.burger{
    background-color: #312F30;
    padding: 85px 0;
}
.burger-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.burger-title {
    font-weight: 500;
    font-size: 44px;
    margin-bottom: 24px;
}
.burger-subtitle {
    opacity: 0.7;
    margin-bottom: 13px;
    max-width: 365px;
}
.price{
    margin-bottom: 11px;
}

.current {
    color: #F6762C;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1.4px;
}
.old {
    color: #F6762C;
    font-weight: 500;
    letter-spacing: 1.4px;
    opacity: 0.5;
    text-decoration: line-through;
}

#products{
    margin: 150px 0;
}

.products-inner {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.product-card {
    width: 555px;
    min-height: 300px;
    padding: 60px 25px 60px 290px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.product-card:nth-child(even){
    padding-left: 30px;
    padding-right: 290px;
}

.product_card__dairy{
    background-image: url(images/product-1.jpg);
}

.product_card_Pizza{
    background-image: url(images/product-2.jpg);
}
.product_card__Burger{
    background-image: url(images/product-3.jpg);
}

.product_card__Papa{
    background-image: url(images/product-4.jpg)
}

.product-title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}
.product-desk {
    opacity: 0.7;
    margin-bottom: 10px;
}
.product-price {
    margin-bottom: 10px;
}
.product-new_price {
    font-weight: 500;
    color: #F6762C;
    letter-spacing: 1.4px;
    margin-left: 5px;
}
.product-old_price {
    opacity: 0.5;
    color: #F6762C;
    font-weight: 500;
    text-decoration: line-through;

}
.product_btn {
    font-size: 12px;
    width: 140px;
    height: 40px;
}

#feedback{
    margin-bottom: 200px;
    
}

#feedback .container{
    max-width: 880px;
}

.feedback_inner {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.feedback_text_blog {
    max-width: 370px;
    text-align: center;
    margin: 0; 
}

.feedback-text {
    opacity: 0.7;
    margin: 30px 0;
}
.feedback-name {
   font-weight: 500;
   font-size: 24px;
   font-style: normal;
}
.feedback-country {
    display: block;
    opacity: 0.7;
    font-weight: 500;
    font-size: 12px;
}

.download {
    background-color: #312F30;
}
.download_inner {
    display: flex;
    padding: 60px 110px;
    align-items: center;
    justify-content: space-between;
}
.download_title {
    font-weight: 500;
    font-size: 40px;
}


.footer{
    padding: 120px 0;
}

.footer a{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.3s ease-in-out;
}

.footer a:hover{
    color: #ff5e00;
    text-decoration: underline;
}


.footer .footer__list-title > a {
    display: inline-block;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.footer-socials__title{
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    opacity: 1;
}

.footer-inner {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    
}
.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-logo {
    width: 70px;
    margin-bottom: 20px;
}

.footer-link{
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-link + .footer-link{
    margin-top: 10px;
}
.footer-link__email::before {
    content: url("images/icons/mail.svg");
    width: 12px;
    height: 12px;
}
.footer-link__web::before {
    content: url("images/icons/global.svg");
    width: 12px;
    height: 12px;
}

.footer-nav__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer-list__item + .footer-list__item {
    margin-top: 15px;
}

.footer-social__icon + .footer-social__icon {
    margin-left: 7px;
}

/* адаптив */

@media (max-width: 1000px) {
    .desc{
        opacity: 1;
    }
    .card:hover{
        transform: translateY(0px);
    }

}
@media (max-width:850px) {
    .burger-inner{
        flex-direction: column;
    }
    .burger-text{
        text-align: center;
    }
    .footer-inner{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "nav nav"
                            "contacts socials";
        justify-items: center;
        gap: 40px 150px;
    }
    .footer-links{
        grid-area: contacts;
        justify-self: end;
    }    
    .footer-socials{
        grid-area: socials;
        align-self: center;
        justify-self: start;
    }
    .footer-nav{
        grid-area: nav;
    }
    .footer-nav__list{
        gap: 80px;
    }

    #feedback{
        margin-bottom: 100px;
    }

    .download_inner{
        padding-left: 50px;
        padding-right: 50px;
    }

    .footer{
        padding: 50px 0;
    }
    
}
@media (max-width:650px){
    .menu-inner{
        flex-direction: column;
        gap: 15px;
    }
    .menu .btn{
        display: none;
    }
    .feedback_img{
        width: 200px;
    }
    .download_title{
        font-size: 25px;
    }
}
@media (max-width:600px){
    .title{
        font-size: 45px;
        margin-bottom: 25px;
    }
    .desc{
        margin-bottom: 35px;
    }
    #products{
        margin: 100px 0;
    }
    .product-card{
        width: 100%;
        padding-left: 50%;

    }
    .product-card:nth-child(even){
        padding-right: 50%;
    }
}
@media (max-width:500px){

    #home{
        margin-bottom: 50px;
    }

    .menu{
        padding-bottom: 200px;
    }
    
    .menu-list{
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 15px;
    }

    .title{
        font-size: 30px;
    }

    .desc{
        font-size: 16px;
    }


    .card:hover{
        transform: translateX(10px);
    }

    #foods{
        margin-bottom: 50px;
        }

    .burger{
        padding: 50px 0;
    }

    .burger-title{
        font-size: 24px;
    }
    
    #products{
        margin: 50px 0;
    }

    .products-inner{
        gap: 50px;
    }

    .product-title{
        font-size: 24px;
    }


    #feedback{
        margin-bottom: 50px;
    }

    .feedback_inner{
        flex-direction: column-reverse  ;
        gap: 15px;
    }

    .download_inner{
        padding-top: 30px;
        padding-bottom: 30px;
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
    .download_title{
        font-size: 24px;
    }

    .footer-inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-links{
        align-items: center;
    }

    .footer-logo{
        margin-bottom: 10px;
    }

    .footer-nav__list{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .footer .footer__list-title > a{
        margin-bottom: 10px;
    }
    .footer-list__item + .footer-list__item{
        margin-top: 10px;
    }
}
